* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
  }

/*General Purpose*/

body {
    background-color: #EFFFC8;
}

p, h1, h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
}

/*Static Elements*/

header {
    border-bottom: 3px solid black;
    background-color: #5f9ea0;
    padding: 10px;
    margin-inline: 0 auto;
    width:100%;
}

#score{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
}

footer {
    text-align: center;
    border-top: 3px solid black;
    background-color: #5f9ea0;
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    font-size: 14px;
}

.hidden{
    opacity: 0;
}

/*Userpage*/

#form1 {
    text-align: center;
} 

.container{
    width: 50%;
    margin: 0 auto ;
    margin-top: 7.5%;
}

#user-name{
    border: 2px solid black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 2em;
}

#submit-button{
    text-align: center;
    position: relative;
    margin-inline: auto;
    border: 2px solid black;
    padding: 5px;
}

#user-header{
    text-align: center;
    position: relative;
    margin-inline: auto;
    margin-top: 12.5%;
    font-size: 70px;
}

#user-info{
    text-align: center;
    position: relative;
    margin-inline: auto;
    margin: 15px 0;
    font-weight: bold;
}

#submit-button:hover{
    color: #cdaca1;
}

/*Gamepage*/

#current-word{
    text-align: center;
    position: relative;
    margin-inline: auto;
    margin: 15px 0;
    font-weight: bold;
}

#game-screen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

/* Media Queries */
@media (max-width: 800px){
    #game-screen{
        width: 100%;
    }
}

@media (max-width: 650px){
    #user-header{
        font-size: 2.25em;
    }
}