* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
  }

/*General Purpose*/

body {
    background-color: #EFFFC8;
}

p, h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
}

/*Static Elements*/

header {
    border-bottom: 3px solid black;
    background-color: #5f9ea0;
    padding: 10px;
    margin-inline: 0 auto;
    width:100%;
}

#score{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
}

footer {
    text-align: center;
    border-top: 3px solid black;
    background-color: #5f9ea0;
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%
}

.hidden{
    opacity: 0;
}

/*Userpage*/

.container{
    width: 600px;
    height: 350px;
    display: absolute;
    margin: 0 auto ;
    margin-top: 10%;
}

#user-name{
    border: 2px solid black;
    position: relative;
    margin-inline: auto;
    text-align: center;
    width: 10em;
    height: 2em;
    left: 34%;
}

#submit-button{
    text-align: center;
    position: relative;
    margin-inline: auto;
    border: 2px solid black;
    padding: 5px;
    left: 34%;
}

#user-header{
    text-align: center;
    position: relative;
    margin-inline: auto;
    margin-top: 12.5%;
    font-size: 70px;
}

#user-info{
    text-align: center;
    position: relative;
    margin-inline: auto;
    margin: 15px 0;
    font-weight: bold;
}

#submit-button:hover{
    color: #cdaca1;
}

/*Gamepage*/